@model LibraryManagementSystem.Models.IssuedBook

@{
    ViewData["Title"] = "IssueBook";
}

<h1>IssueBook</h1>

<h4>IssuedBook</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="IssueBook">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IssuedDate" class="control-label"></label>
                <input asp-for="IssuedDate" class="form-control" />
                <span asp-validation-for="IssuedDate" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ReturnDate" class="control-label"></label>
                <input asp-for="ReturnDate" class="form-control" />
                <span asp-validation-for="ReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book" class="control-label"></label>
                <select asp-for="Book" class="form-control" asp-items="ViewBag.BookList"></select>
            </div>
            @* <div class="form-group">
                <label asp-for="UserNo" class="control-label"></label>
                <input asp-for="UserNo" class ="form-control" type="text"/>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
